{% extends 'book/base.html' %}
{% block content %}
<section class="banner-area relative">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    {{title}}
                </h1>
                <div class="link-nav">
						<span class="box">
							<a href="{% url 'home' %}">Головна сторінка</a>
							<i class="lnr lnr-arrow-right"></i>
							<a href="{% url 'about_book' %}">{{title}}</a>
						</span>
                </div>
            </div>
        </div>
    </div>
    <div class="rocket-img">
        <img src="img/rocket.png" alt="">
    </div>
</section>
<!-- End Banner Area -->
<!-- Start Sample Area -->
<section class="sample-text-area">
    <div class="container">
        <hr>
        <p class="sample-text"><h4><b>{{title}}</b></h4></p>
        <hr>
        <p class="sample-text">Я передусім прагнув того, щоб книга легко читалася. Я уникаю несподіваних поворотів:
            кожен
            раз, коли в книзі
            згадується нова концепція, я або пояснюю її одразу, або кажу де буду пояснювати. Основні концепції
            підкріпляються
            вправами і повторними поясненнями, щоб ви могли перевірити свої припущення і впевнитись в тому, що не
            втратили
            нитку
            викладання.</p>
        <p class="sample-text">В книзі наводиться багато прикладів. Моя ціль – не вивалити на читача купу незрозумілих
            формул, а спростити наочне
            представлення цих концепцій. Я також вважаю, що ми краще за все вчимось тоді, коли можемо згадати щось вже
            відоме, а
            приклади допомагають освіжити пам’ять. Так, коли ви згадуєте чим масиви відрізняються від зв’язаних списків
            (глава
            2), просто згадайте, як шукаєте місця для компанії в кінотеатрі. Мабуть, ви вже зрозуміли, що я прибічник
            візуального стилю навчання – в книзі повно малюнків.</p>
        <p class="sample-text">Вміст книги був ретельно продуманий. Немає сенсу писати книгу з описом всіх алгоритмів
            сортування – для цього є такі
            джерела, як Вікіпедія та Khan Academy. Всі алгоритми, описані в книзі, мають практичну цінність. Я
            застосовував
            їх
            в своїй роботі програміста, і вони закладають хорошу основу для вивчення складніших тем.</p>
        <p class="sample-text">Приємного читання!</p>
        <p class="sample-text"><h4><b>Структура книги</b></h4></p>
        <p class="sample-text">В перших трьох главах закладаються основи:</p>
        <p class="sample-text"><i class="fa-solid fa-cube" style="font-size: 1rem"></i><b> Глава 1</b> - ви вивчите свій
            перши нетривіальний алгоритм: бінарний пошук. Також тут розглядаються основи
            аналізу швидкості алгоритмів із застосуванням «О-великого». Цей запис часто використовується в книзі для
            опису
            відносної швидкості роботи виконання алгоритмів.</p>
        <p class="sample-text"><i class="fa-solid fa-cube" style="font-size: 1rem"></i><b> Глава 2</b> - ви познайомитесь
            з
            двома основними структурами даних: масивами і зв’язаними списками. Ці структури
            даних часто зустрічаються в книзі і використовуються для створення складніших структур даних, наприклад
            хеш-таблиць (глава 5).</p>
        <p class="sample-text"><i class="fa-solid fa-cube" style="font-size: 1rem"></i><b> Глава 3</b> - ви дізнаєтесь
            про
            рекурсію – зручний прийом, який використовують багато алгоритмів (наприклад,
            алгоритм швидкого сортування, про який говориться в главі 4).</p>
        <p class="sample-text">Згідно з моїм досвідом, теми «О-велике» і рекурсії складні для новачків, тому в цих
            розділах
            я знижую темп
            викладання і наводжу більш детальні пояснення.</p>
        <p class="sample-text">В подальшій частині книги представлені алгоритми, що часто застосовуються в різних
            областях.</p>
        <p class="sample-text"><b>Методи розв'язання задач</b> розглядаються в главах 4, 8 і 9. Якщо ви стикнулись зі
            складною
            задачею і не знаєте як
            ефективно її вирішити – використайте стратегію «розділяй і володарюй» (глава 4) або методом динамічного
            програмування (глава 9). А якщо ви зрозуміли, що ефективного рішення не існує, спробуйте отримати наближену
            відповідь з використанням жадібного алгоритму (глава 8).</p>
        <p class="sample-text"><i class="fa-solid fa-cube" style="font-size: 1rem"></i><b> Хеш-таблиці</b> розглядаються
            в
            главі 5. Хеш-таблиці – виключно корисна структура даних, призначена для
            зберігання пар ключів і значень (наприклад, імені людини і адреси електронної пошти або імені користувача і
            пароля).
            Важко переоцінити практичну користь хеш-таблиць. Приступаючи до розв'язку задачі, я зазвичай поперед усім
            задаю
            собі
            всього два питання: чи можна тут скористуватись хеш-таблицею, і чи можна змоделювати задачу у вигляді графу.
        </p>
        <p class="sample-text"><i class="fa-solid fa-cube" style="font-size: 1rem"></i><b> Алгоритми графів</b>
            розглядаються
            в главах 6 та 7. Графи використовуються для моделювання мереж: соціальних,
            дорожніх, нейронних або будь-яких інших сукупностей зв’язків. Пошук в ширину (глава 6) і алгоритм Дейкстри
            (глава 7)
            призначені для пошуку найменшої відстані між двома точками мережі: з їх допомогою можна вичислити
            найкоротший
            маршрут до точки призначення або кількість проміжних знайомих у двох людей в соціальній мережі.</p>
        <p class="sample-text"><i class="fa-solid fa-cube" style="font-size: 1rem"></i><b> Алгоритм k найближчих
            сусідів</b>
            розглядається в главі 10. Це простий алгоритм машинного навчання; з його
            допомогою можна побудувати рекомендаційну систему, механізм оптичного розпізнавання тексту, систему
            прогнозування
            курсів акцій – словом, всього, що потребує прогнозування значень («Ми думаємо, що Адіт поставить цьому
            фільму 4
            зірки») або класифікації об’єктів («Це літера Q»).</p>
        <p class="sample-text"><i class="fa-solid fa-cube" style="font-size: 1rem"></i><b> Наступний крок</b>: в главі 11
            представлені 10 алгоритмів, які добре підійдуть для подальшого вивчення теми.</p>
        <p class="sample-text"><h4><b>Як працювати з цією книгою</b></h4></p>
        <p class="sample-text">Порядок викладення і вміст книги були ретельно продумані. Якщо вас сильно цікавить якась
            тема
            – переходьте одразу до
            неї. У зворотному випадку читайте глави по черзі, вони логічно переходять одна в іншу.</p>
        <p class="sample-text">Я наполегливо рекомендую самостійно виконувати код всіх прикладів. Ви не повірите,
            наскільки
            це важливо. Просто
            введіть мої приклади коду або завантажте їх за <a target=”blank”
                                                              href="https://github.com/egonSchiele/grokking_algorithms">цим
                посиланням.</a> і виконайте. Так у вашій пам’яті залишиться набагато більше, ніж просто від читання.</p>
        <p class="sample-text">Також я рекомендую виконати вправи, наведені в книзі. Вправи не займуть багато часу – як
            правило задачі вирішуються
            за хвилину чи дві, іноді за 5-10 хвилин. Вправи допоможуть перевірити правильність розуміння матеріалу. Якщо
            ви
            десь
            збились зі шляху, то дізнаєтесь про це не заходячи надто далеко.</p>
        <p class="sample-text"><h4><b>Для кого призначена ця книга</b></h4></p>
        <p class="sample-text">Ця книга призначена для читачів, які володіють азами програмування і хочуть розібратись в
            алгоритмах. Може, ви вже
            стикнулись із задачею програмування і намагаєтесь найти алгоритмічний розв'язок.</p>
        <p class="sample-text">А може ви хочете зрозуміти де вам можуть стати в пригоді алгоритми. Нижче наведено
            короткий і
            неповний список людей,
            яким стане в пригоді ця книга:</p>
        <p class="sample-text"><i class="fa-solid fa-cube" style="font-size: 1rem"></i> програмісти-самоучки</p>
        <p class="sample-text"><i class="fa-solid fa-cube" style="font-size: 1rem"></i> студенти, які почали вивчати
            програмування</p>
        <p class="sample-text"><i class="fa-solid fa-cube" style="font-size: 1rem"></i> випускники, які бажають освіжити
            пам’ять</p>
        <p class="sample-text"><i class="fa-solid fa-cube" style="font-size: 1rem"></i> спеціалісти з
            фізики/математики/інших дисциплін, які цікавляться програмуванням.</p>
        <hr>
    </div>
</section>

{% endblock %}